@use '../util' as *;

.toggle {
  display: grid;
  grid-template-columns: 1fr 3rem;
  border: none;
  margin: 0;

  label {
    font-size: rem(14);
    font-weight: 700;
    color: var(--toggle);

    &[for="dark"] {
      line-height: rem(24);
      margin-right: rem(13);
    }
  }

  &__wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative;
    height: rem(24);
  }

  input[type="radio"] {
    position: relative;
    z-index: 1;
    opacity: 0;
    margin: 0 -2px 0 -2px;
    width: rem(24);
    height: rem(24);

    &:focus ~ .toggle__button {
      border: 2px solid white;
    }
  }

  &__background {
    border-radius: rem(12);
    // overflow: hidden;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background: var(--toggle-bg);
  }
  &__button {
    position: absolute;
    left: rem(3);
    top: rem(3);
    right: 100%;
    width: rem(18);
    height: rem(18);
    border-radius: 50%;
    background-color: var(--toggle-button);
    transition: all 150ms ease-in-out;
  }

  #light:checked ~ .toggle__button {
    left: calc(100% - 21px);
    right: 3px;
  }

  #system:checked ~ .toggle__button {
    left: 50%;
    right: auto;
    transform: translate(-50%);
  }
}
